{% extends "base.html" %}
{% load static %}
{% block bodyattrs %}id="pagednl" data-spy="scroll" data-target=".navbar" data-offset="50" class="bg-1"{% endblock %}
{% block bodycontent %}
<div id="homeSlide" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#homeSlide" data-slide-to="0" class="active"></li>
      <li data-target="#homeSlide" data-slide-to="1"></li>
      <li data-target="#homeSlide" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    {% if carousel %}
    <div class="carousel-inner" role="listbox">
      {% for car in carousel %}
        {% if forloop.first %}
            <div class="active item">
        {% else %}
            <div class="item">
        {% endif %}
                <img src="{{ car.img.url }}">
                <div class="carousel-caption">
                  <h3>{{ car.short_descr }}</h3>
                  <p>{{ car.long_descr }}</p>
                </div>
            </div>
      {% endfor %}
    </div>
    {% endif %}
<!-- Left and right controls -->
    <a class="left carousel-control" href="#homeSlide" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homeSlide" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
<div id="biolong" class="container text-center">
  <h3>Prof. Dang Ngoc Long</h3>
  <p><em>Vietnamese Concert Guitarist and Composer</em></p>
  <p>{{ biodnl.biography }}</p>
</div>
{% endblock %}