{% extends "base.html" %}
{% load static %}
{% block bodyattrs %}id="pagednl" data-spy="scroll" data-target=".navbar" data-offset="50"{% endblock %}
{% block bodycontent %}
<div id="news" class="container">
  <h1>News</h1></br>
  {% for nws in news %}
  <div class="media">
    <div class="media-left media-middle">
      <img class="media-object" src="{{ nws.img.url }}" alt="new album" width="300" height="300">
    </div>
  <div class="media-body">
    <h2>{{ nws.title }}</h2><br>
    <p>{{ nws.date|date:"d M Y"  }}</p>
    <p>{{ nws.detail }}</p>
  </div>
  </div>
  {% endfor %}
</div>
{% endblock %}